[2016-04-14 20:32] dmogn opened #1 "Create new Maven module/plugin"
Core project: http://svn.shibboleth.net/view/java-identity-provider/trunk/

Build latest Shib V3, add a new module, integrate it in init.

[2016-04-14 20:37] dmogn opened #2 "Load configuration from LDAP"
Mike Schwartz: Upgrade Shib 3 to store config in LDAP
Mike Schwartz: There are three files we normally modify...
Mike Schwartz: relying-party.xml, attribute-filter.xml and attribute-release.xml

[2016-04-25 02:26] dmogn commented on #1
Done.

[2016-04-25 02:26] #1 closed

[2016-05-04 14:23] dmogn opened #3 "Installer from"
Download and install from official IDP v3 binary distribution. Pack as modified distribution with Gluu modules.

Example: https://github.com/GluuFederation/oxIdp/blob/master/pom.xml#L98

[2016-05-20 16:17] dmogn opened #4 "Check the IdP-initiated flow capability"
Ryan Kinzy: ... they want to do an IDP initiated workflow for a customer.
...

SAML standard:
"SAML V2.0 supports both the IdP-initiated and SP-initiated flows."
http://docs.oasis-open.org/security/saml/Post2.0/sstc-saml-tech-overview-2.0.html

[2016-05-24 20:04] nynymike commented on #4
I don't see how IDP initiated workflow effects the Gluu Server... its an SP issue.

[2016-05-24 20:04] #4 closed

[2016-05-24 20:10] nynymike opened #5 "Override Logout Functionality"
SAML initiated logout doesn't work. We can probably redirect to OpenID Connect front channel logout, although SP's won't be notified about the logout event. Perhaps we can add SP's as sessions under the client (with respective logout URLs) so the iframes are rendered properly in the front channel logout page.

Another issue is that in a cluster, other shib IDP servers may have active sessions in m

[2016-06-08 00:00] dmogn commented on #3
Done.

[2016-06-08 00:00] #3 closed

[2016-06-08 00:04] dmogn opened #6 "Add oxShibboleth to jenkins"
setup.py should download oxShibboleth WAR from our repo.

[2016-06-08 18:44] dmogn commented on #6
Done. Thanks, @yurem.

[2016-06-08 18:44] #6 closed

[2016-06-16 21:06] dmogn opened #7 "saml-openid-auth-client integration"

[2016-06-16 21:21] dmogn opened #8 "JAR Archive with static IDP3 files"
IDP3 has 3 parts to install with gluu-server installer:
1. idp.war, created by oxShibboleth POM script.
2. templates in community-edition-setup for configuration with setup.py
3. A big set of static files (unchaged during installation) - XML configs, velosity tempaltes, flow configs, etc.

Create separate JAR file with IDP3's static files. Add downloading step in setup.py

[2016-06-22 13:55] nynymike opened #9 "Use authncontextclassref to trigger respecting OpenID Connect acr authz request"
Consider this XML below.

[code]

Got this from this [blog](http://blog.samlsecurity.com/2011/01/redirect-with-authnrequest.html) on OpenSAML

It would be really cool if when we see this kind of request, we are able to map it to the respective authentication mechanism in oxAuth, i.e. it should be the same as the "Name" of the custom authentication script.

[2016-06-23 13:22] dmogn commented on #8
Done.

[2016-06-29 17:03] #8 closed

[2016-08-12 00:32] nynymike opened #10 "Support ForceAuthn=true"
Section 4.1.3.4 of the SAML-Profile document (in the Web SSO Profile section), it specifies:

[code]

It would be nice if we could support this.

In OpenID Connect we can use the `prompt=login` parameter to do something similar.

[2016-08-12 01:10] nynymike opened #11 "Remove SAML 1.1, Shib 1.0 and Artifact Resolution Profile from SAML metadata features"
I was going through the IDP metadata, and I wanted to remove unused stuff to keep the metadata as short and simple as possible!

1. Disable the AttributeAuthority Service. The firewall blocks the SOAP endpoints anyway. I believe this XML should not even show up in the metadata
2.  In the `<IDPSSODescriptor>...` section of the metadata, remove support for SAML 1.1 and Shibboleth 1.0 endpoints and `

[2016-08-15 20:03] dmogn opened #12 "Remove jaas.config config"
Remove LDAP settings from V2 and V3 configurations.

Mike Schwartz: this is not used anyway
Mike Schwartz: the shib IDP uses the oxauth login module.
Mike Schwartz: it should actualy be removed.
Mike Schwartz: because its storing the DM password in the clear...
Dmitry Ogn: Ok... But current V2 has same configuration with login to LDAP.
Mike Schwartz: yes, but its not used.
Mike Schwartz: this file

[2016-08-16 15:00] dmogn commented on #11
Which solution is best for XML configs:
- Comment SAML1 / SAML2 AttributeService related points
- Comment with warnings
- Remove at all
?

[2016-08-16 15:41] nynymike commented on #11
Remove.

[2016-08-22 02:43] dmogn commented on #11
Done.

[2016-08-22 02:43] #11 closed

[2016-08-25 16:48] nynymike opened #13 "RequestedAuthnContext throws weird page"
I was testing a SAML client that included this in the `AuthnRequest`

[code]
I was surprised when I got back this form... which is certainly not going to work:

![image](https://cloud.githubusercontent.com/assets/3717101/17978000/9514c8b8-6ab9-11e6-9f1a-1db5def46f24.png)

As a starting position, maybe we should just update this page with html that redirects to oxAuth?

Or return an error page that

[2016-08-25 16:49] nynymike opened #14 "SLO page is not included in IDP metadata"
There is no SLO binding or URL in the standard Gluu Server IDP metadata.

[2016-08-25 17:10] mzico commented on #13
@nynymike : let's try to comment out U/P login handler and restart tomcat.  Configuration file: handler.xml, location: /opt/idp/conf

Here is what I meant...

[code]

[2016-08-25 17:17] nynymike commented on #13
[Moved to community-edition-setup](https://github.com/GluuFederation/community-edition-setup/issues/168)

[2016-08-25 20:04] #13 closed

[2016-08-25 20:05] nynymike opened #15 "Map AuthnContextClassRef --> acr in OpenID Connect"
In SAML, an AuthnRequest may contain an `AuthnContextClassRef` like this

[code]

It would be amazing if we could somehow sent this as the acr param in the openid connect authn request.

Also see this [blog](http://blog.samlsecurity.com/2011/01/redirect-with-authnrequest.html)

[2016-09-06 14:36] dmogn commented on #11
Done.

[2016-09-16 15:25] dmogn opened #16 "/opt/shibboleth-idp/metadata/idp-metadata.xml (No such file or directory)"
[11:14:58] Valentino Pecaoco: in v2, when going to <domain>/idp/shibboleth the IDP XML metadata shows
[11:15:15] Valentino Pecaoco: But in v3, it throws an error
[11:15:33] Dmitry Ogn: It's bug
[11:15:43] Valentino Pecaoco: /opt/shibboleth-idp/metadata/idp-metadata.xml (No such file or directory)
[11:15:44] Dmitry Ogn: It should show
[11:16:25] Dmitry Ogn: Maybe something happend in installer
[11:

[2016-09-16 15:29] dmogn commented on #12
Close related with https://github.com/GluuFederation/oxShibboleth/issues/7

[2016-10-13 16:13] dmogn opened #17 "Shib IDP doesn't release NameID"
NameID generation is enabled in configuration. My IDP test instance does not release it.
Nothing NameID-related has been changed.

[2016-10-17 04:00] dmogn commented on #17
2016-10-17 03:45:58,432 - WARN [net.shibboleth.ext.spring.context.FilesystemGenericApplicationContext:545] - Exception encountered during context initialization - cancelling refresh attempt: org.springframework.beans.factory.BeanCreationException: Error creating bean with name 'net.shibboleth.idp.saml.nameid.impl.NameIdentifierGenerationServiceImpl#0' defined in file [/opt/shibboleth-idp/system/co

[2016-10-17 04:03] dmogn commented on #17
I should return back some SAML1 functionality, because SAM2 NameID use it.

https://github.com/GluuFederation/oxShibboleth/issues/11

[2016-10-17 04:38] nynymike commented on #17
Ok

[2016-10-17 04:38] #17 closed

[2016-11-17 07:26] uboznikov opened #18 "Upgrade to Shibboleth v3.3.0"
https://wiki.shibboleth.net/confluence/display/NEWS/2016/11/10/Shibboleth+Identity+Provider+V3.3.0+Released

[2016-11-17 12:23] dmogn commented on #18
Our config templates are based on v3.2.1

[2016-11-17 16:42] dmogn commented on #18
Heh :) Solved in v3.3.0:

Collision in LDAP Data Connector result set cache
=================================================
A flaw in the implementation of the result cache in the LDAP data
connector [1] in the attribute resolver can cause results for one search
to be substituted for another search, including one associated with a
different subject. Depending on the purpose of the search and the

[2016-12-02 10:40] dmogn commented on #2
https://github.com/GluuFederation/oxTrust/issues/307#issuecomment-264371276

[2016-12-21 19:49] mzico opened #19 "CE 3.0.0 Shibboleth: Unable to create Trust Relationship [ File method ]"
Situation: Trying to create a trust relationship with SP metadata but it's failing.

Background check:

- Seems like oxTrust is generating ldap entry for new trust relationship
- But oxTrust is unable to transfer metadata from `/opt/shibboleth-idp/temp_metadata` location to `/opt/shibboleth-idp/metadata` after validation checking.
- Which is resulting System Error with stack trace "Unable to read

[2016-12-21 19:49] mzico commented on #19
@dmogn @uboznikov

[2016-12-22 05:56] mzico commented on #19
Seems like there is [another](https://github.com/GluuFederation/oxTrust/issues/416) ticket on same issue. Closing this one.

[2016-12-22 05:56] #19 closed

[2016-12-22 13:22] uboznikov commented on #19
@mzico For reference before beta I tested it ok:

[gluu-server 3.0 oxTrust ui SAML2SSO configuration missing](https://github.com/GluuFederation/oxTrust/issues/405#issuecomment-266673288)

[2017-01-05 19:25] nynymike commented on #9
Duplicate of https://github.com/GluuFederation/oxShibboleth/issues/15

[2017-01-05 19:25] #9 closed

[2017-01-27 15:29] dmogn opened #20 "Check CAS protocol logout behaviour"

[2017-02-01 04:32] nynymike opened #21 "Remove ShibbolethSSO and SAML 1"
Remove from SAML metadata:

[code]

Also

[code]

[2017-02-01 04:37] nynymike commented on #7
Please add a description to this issue.

[2017-02-01 04:38] dmogn commented on #12
Shibboleth IDP uses oxAuth  integration for authn.
CAS extension redirects to oxAuth too.
TODO: check this issue point for attributes.

[2017-02-01 04:52] dmogn commented on #12
jaas.config has been removed from gluu-server's installer. Now IDP uses ldap.properties.
This issue is obsolete.

[2017-02-01 04:52] #12 closed

[2017-02-01 05:03] dmogn commented on #21
https://github.com/GluuFederation/oxShibboleth/issues/11

[2017-02-01 05:05] dmogn commented on #7
It's released now. The issue is obsolete.

[2017-02-01 05:05] #7 closed

[2017-02-01 13:43] uboznikov commented on #21
[- Fix for #465](https://github.com/GluuFederation/oxTrust/commit/ac46049fa413c4caa2ae3a3f2353b137f1540c9e)

[2017-02-03 14:27] mzico opened #22 "Federation TR is not presenting SP list link"
No 'Select entityID of this Trust Relationship' option for federated SP.

When we move to create a 'Federated/Aggregate' trust relationship, it should provide us a link from where we can select our desired SP's entityID. Nothing showing in 3.0.0.

This is how a federated trust relationship should work, check out 'Federated' section [here](https://gluu.org/docs/integrate/outbound-saml/#how-to-creat

[2017-02-05 15:02] uboznikov commented on #22
@shekhar16, Please check, might be related to [SAML Trust Relationship: Multi-Party Federation Metadata Re-Design](https://github.com/GluuFederation/oxTrust/issues/310)

[2017-02-05 20:14] zamilskhan opened #23 "Shibboleth SP does not work"
OS: Ubuntu 14.04.2
Package: gluu-server-3.0.0_2-RC1~trusty+Ub14.04_amd64.deb

Tested Shibboleth SP with the following config: but instead of IDP login page, unsupported request page appeared.

![shib-tr](https://cloud.githubusercontent.com/assets/7703245/22629511/9d08b622-ec11-11e6-9742-347c699441d3.png)
---
![shib-tr-replying](https://cloud.githubusercontent.com/assets/7703245/22629514/9f0f0f3e-e

[2017-02-06 15:33] dmogn commented on #20
Done.

[2017-02-06 15:33] #20 closed

[2017-02-07 00:10] zamilskhan commented on #21
Fix confirmed

[2017-02-07 00:10] #21 closed

[2017-02-07 10:35] uboznikov commented on #23
@zamilskhan Is the metadata file also working with v2.4.4.2? It would be great to compare. Please also attach the metadata file. Thanks.

[2017-02-07 18:57] jgworks commented on #23
I'm getting this in a brand new install of Gluu 3.0.0 on CentOS 7.3. Is there a workaround for this issue?

[2017-02-08 00:01] zamilskhan commented on #23
@uboznikov The metadata file is attached here. The problem was not there in RC1 but it is there again. Tested in CentOS7.2.
The metadata is given below:
[code]

[2017-02-08 00:31] nynymike commented on #23
The entityID is `https://shib.info/shibboleth` are you sure this is correct? Also, can you attach the IDP metadata? IT may be a mismatch between the configured SP entityID and the actual IDP entityID>

[2017-02-08 08:24] uboznikov commented on #23
@zamilskhan Thanks, please also attach the `shibboleth2.xml` file you used in the SP side.

[2017-02-08 19:30] OneLoveAmaru commented on #14
So now that SLO is included, it breaks the metadata. When I try to upload the metadata to testshib, it says: "The file you are attempting to upload is not valid metadata. Please correct any errors and try again."

I had to remove the 3 lines for SLO for it to work.

If you take the metadata and try to verify it at: https://www.samltool.com/validate_xml.php it also hits on the SLO lines.

I don't k

[2017-02-08 19:51] OneLoveAmaru commented on #23
We are having the same problem with a new install of 3.0.0 on CentOS 7.3 as well.

You can hit us here: https://sso.threattrack.net/idp/shibboleth

Here is our shibboleth2.xml: https://gist.github.com/OneLoveAmaru/5d6125403f0f14f49b85ae3c827bfd49

Anything else I can offer that'll help?

[2017-02-08 19:52] OneLoveAmaru commented on #14
You can take a look at our IDP Metadata here: https://sso.threattrack.net/idp/shibboleth

[2017-02-08 20:14] zamilskhan commented on #23
Issue reproduced in CentOS 6.8. The idp process log shows the following warning
[code]
The idp metadata is as follows:
[code]

[2017-02-08 22:25] aliaksander-samuseu commented on #23
I can confirm the issue exists in CentOS7.2. Simply adding TR for my Shibboleth SP which still works perfectly fine with Gluu 2.4.4SP3 using web UI doesn't work at all. Despite the fact the TR is created, passes metadata validation and becomes active, any attempt to use it results in "The application you have accessed is not registered for use with this service" error. In logs it just says:

[code

[2017-02-09 10:23] uboznikov commented on #23
@zamilskhan @aliaksander-samuseu Please attach `shibboleth2.xml`.

[2017-02-09 18:09] aliaksander-samuseu commented on #23
@uboznikov

You mean the one from my test SP, right? [Here it is](https://github.com/GluuFederation/oxShibboleth/files/764555/shib-files.tar.gz), together with SP's metadata

[2017-02-09 19:13] OneLoveAmaru commented on #23
@uboznikov You don't need to collect everyones configs, just install a fresh copy of 3.0.0, it's broken out of the box.

[2017-02-09 22:10] aliaksander-samuseu commented on #23
@nynymike @otataryn

Per Michael's request I tried to look into it a bit deeper. I'm still can't see any reasons for it. Below is grep for entityid of my SP in conf dir:

[code]

Seems like it went into all places it should be at. And here is request my SP sends to Gluu:

[code]

The entityid in request is the same. I can't see any errors in logs during idp's start up revealing any issues with met

[2017-02-09 22:23] aliaksander-samuseu commented on #23
@nynymike @zamilskhan @otataryn

Just a quick update: I managed to make it to work. Not quite sure what steps are, but it's clearly not working as it should. I believe I first configured a custom Relying parties settings, it still didn't work after that, though I saw configuration in IdP's dir updated and in idp-process.log there were signs it reloaded it from disk. I believe it's after I cleared

[2017-02-10 09:50] uboznikov commented on #23
@OneLoveAmaru `shibboleth2.xml` is a crucial part of the config so it should be added to the checking/testing.

[2017-02-14 18:01] zamilskhan commented on #23
The error in the idp-process log for the problem is as follows
[code]

[2017-02-14 23:42] aliaksander-samuseu commented on #23
@uboznikov , please let us know whether you succeed in reproducing this issue and are already working on this, or should we still try to investigate it further.

After I managed to make my previous TR (the one with custom RP config) to work, I removed it. Then I created another one right away, now without the custom RP config - it worked nevertheless. But after I restarted idp service, it stopped

[2017-02-15 15:45] mzico opened #24 "SLO binding links are breaking IDP metadata"
3.0.0 or 3.0.1 has SLO bindlink links (**) available in IDP metadata which are breaking SAML transaction.

(**)
[code]

Here is what a SP throw whenever we are trying to load this metadata ( with SLO links ):

[code]

Validation failed as well for this; we can try to validate IDP metadata with [SAML Validator](https://www.samltool.com/validate_xml.php)

Or, we can try to 'register' our IDP by uplo

[2017-02-15 15:46] mzico commented on #24
[Another](https://github.com/GluuFederation/oxShibboleth/issues/14) comment from user.

[2017-02-15 19:22] zamilskhan commented on #23
I saw this error when trying to create a TR in 3.0.1
https://pastebin.com/18EKK2Uw

[2017-02-15 19:59] yurem commented on #23
@zamilskhan , @mzico , @aliaksander-samuseu can you give list of steps which I can use to reproduce it? Are there any instructions about SP configuration?

[2017-02-15 20:10] zamilskhan commented on #23
I followed the shibboleth sp integration guide from [our docs](https://gluu.org/docs/2.4.4/integration/saml-sp/)

[2017-02-16 22:08] aliaksander-samuseu commented on #23
@yurem If you simply configure a regular test SP without custom RP config in it right after installation (let's not restart anything or clear any cookies for now), it will most likely be broken. So no specific steps there, add a SP with a couple of attributes, and you should see it.

[2017-02-17 17:09] wkuntz commented on #23
We are also experiencing this issue.  I see that it was closed.  What was the resolution?

[2017-02-17 17:17] OneLoveAmaru commented on #23
I'm still waiting for a fix. Why was it closed with no fix?

[2017-02-17 18:28] mzico commented on #23
@wkuntz @OneLoveAmaru : We will have new release published on Monday or Tuesday; it has such fix.

[2017-02-17 18:47] yurem commented on #23
We fixed this file: https://github.com/GluuFederation/community-edition-setup/commit/258e80ffe285831a3807d57c2f570f5c5ebcf780

[2017-02-17 18:53] yurem commented on #23
You can update /opt/shibboleth-idp/conf/services.properties in your environment to allow IDP to check if it should reload metdata.

[2017-02-17 19:12] wkuntz commented on #23
I updated that file, stopped and started Gluu and still received the same error.  I then deleted the TR, and recreated it via the GUI.  I still get the same error.

If you let me know what logs you need, I will be happy to help troubleshoot.

Bill

[2017-02-17 19:25] yurem commented on #23
Did you wait 1 minute after validation success in oxTrust?

[2017-02-17 19:28] wkuntz commented on #23
Yes.  I has been about 15 minutes, and still get the same error:

Web Login Service - Unsupported Request
The application you have accessed is not registered for use with this service.

[2017-02-17 21:17] aliaksander-samuseu commented on #23
@wkuntz @OneLoveAmaru

You can try to add "Custom RP config" to the TR you create. When setting this custom RP config try to use configuration provided in [this example](https://gluu.org/docs/admin-guide/saml/#add-trust-relationship). Then you'll need to wait until IdP reloads config, or restart it with `service idp restart`. If it won't resolve the issue, you may try to fetch the latest oxtrust.w

[2017-02-17 22:40] aliaksander-samuseu commented on #23
@wkuntz @OneLoveAmaru

CentOS 6 and Ubuntu 14 packages have just been rebuilt, so instead of update identity.war manually you could install from them a new instance, if it's an option.

[2017-02-17 22:54] wkuntz commented on #23
Is the upgrade from 3.0.0 just a yum update?

Bill

On Fri, Feb 17, 2017 at 5:40 PM, aliaksander-samuseu <
notifications@github.com> wrote:

[2017-02-21 13:59] wkuntz commented on #23
After a reboot, this is working.  Perhaps everything did not get restarted properly after I made the change previously.

[2017-02-21 19:51] yurem commented on #23
In 3.0.1 we added this update to enable automatic metadata reload:
https://github.com/GluuFederation/community-edition-setup/commit/258e80ffe285831a3807d57c2f570f5c5ebcf780

You can manually update: /opt/shibboleth-idp/conf/services.properties
And run: service idp restart

After that IDP should automatically reload metadata after addin/changing TR.

[2017-02-21 19:51] #23 closed

[2017-03-02 21:19] OneLoveAmaru commented on #23
I just installed a fresh instance of 3.0.1 on CentOS 7 and this doesn't
appear to be fixed.

I waited many minutes to make sure the metadata reloaded but no go.

I even tried restarting Gluu, waited 10 minutes but still getting "The
application you have accessed is not registered for use with this service."

idp.process.log shows:

2017-03-02 16:16:03,844 - INFO
[org.opensaml.saml.common.binding.i

[2017-03-02 21:20] willow9886 commented on #23
Matt, Can you please move this over to http://support.gluu.org ?

It will be easier for our team to troubleshoot the issue there. Thanks.

[2017-03-31 18:47] nynymike opened #25 "Don't show stacktrace... ever"
A customer was showing me a 500 error from shibboleth that printed a full Java stacktrace, which should only be present in the logs. We never want to publish a stacktrace to users.

[2017-05-02 17:32] nynymike commented on #2
There is a new feature to load config from http.. I think this would be a better approach

[2017-05-02 17:32] #2 closed

[2017-05-02 17:35] nynymike opened #26 "Load Config from HTTPS"
Currently we load config from the filesystem. This makes it really hard to cluster... In Shib IDP v3 there is a way to load config from https. This would make our lives way easier.,

[2017-05-14 12:48] shekhar16 commented on #22
Fixed in https://github.com/GluuFederation/oxTrust/issues/488

[2017-05-14 12:48] #22 closed

[2017-05-17 22:45] dmogn opened #27 "Metadata validation throwing error"
[12:52:21] Zamil Khan: Metadata validation still throwing error for the logout and zip file download

[19:19:09] smukhija: Dmitry, <host>/idp/shibboleth metadata is failing xml validation
[19:19:14] smukhija:
THE XML IS INVALID.

Line: 86 | Column: 0  --> Element '{urn:oasis:names:tc:SAML:2.0:metadata}SingleLogoutService': This element is not expected. Expected is one of ( {urn:oasis:names:tc:SAML

[2017-05-17 23:11] dmogn commented on #27
Metadata template is OK:
https://github.com/GluuFederation/community-edition-setup/blob/master/static/idp3/metadata/idp-metadata.xml
https://github.com/GluuFederation/community-edition-setup/blob/version_3.0.2/static/idp3/metadata/idp-metadata.xml

No any uncommented SingleLogoutService element in idp-metadata.xml template.
Something wrong in setup.py

[2017-05-18 05:50] dmogn commented on #27
I found the commit with the problem: https://github.com/GluuFederation/community-edition-setup/commit/da4c6d95a3db74c350ebef7b0f4fe8098569f4b8#diff-2eeaed663bd0d25b7e608891384b7298

[2017-05-18 06:02] dmogn commented on #27
Youry, could your review your commit with this issue?

Template:
https://github.com/GluuFederation/community-edition-setup/blob/master/static/idp3/metadata/idp-metadata.xml

[code]

Result:
/opt/gluu-server-3.0.2/opt/shibboleth-idp/metadata/idp-metadata.xml
[code]

[2017-05-18 13:52] dmogn commented on #27
Ok. I'll fix broken template in oxTrust/configuration and remove templates from community-edition-setup.

[2017-05-19 13:45] dmogn commented on #27
Fixed.

[2017-05-19 13:45] #27 closed

[2017-07-31 13:19] dmogn commented on #18
Done. v. 3.3.1

[2017-08-04 11:32] yurem opened #28 "Update Shib to work correctly with oxAuth 3.1.0"
Initial issue was:
[code]

[2017-08-04 11:35] yurem commented on #28
After fixing it in this [commit](https://github.com/GluuFederation/oxShibboleth/commit/051d616c93552b57dbee3a5997b2e89491417a97) we get another issue:
[code]

This shows that [update to Shib 3.3.1](https://github.com/GluuFederation/oxShibboleth/commit/fae65eb3f749856a42ed0a728491f1c7eaffd141) which we did few days ago requires also beans xml update.

In Shib 3.3.1 source codes there is net.shibbol

[2017-08-09 09:27] yurem commented on #18
I reverted it and re-open issue due to issue:
[code]

[2017-08-09 20:17] nynymike commented on #14
Duplicate: https://github.com/GluuFederation/oxShibboleth/issues/24

[2017-08-09 20:17] #14 closed

[2017-08-11 16:45] dmogn commented on #18
Fixed.

[2017-08-13 19:13] dmogn commented on #18
setup.py exeption with RC1:

22:53:08 08/11/17 Running: /opt/jre/bin/java -classpath /opt/dist/gluu/idp3_cml_keygenerator.jar org.xdi.oxshibboleth.keygenerator.KeyGenerator /opt/shibboleth-idp/credentials hNN1IgdRl3GB

22:53:10 08/11/17 java.io.IOException: Keystore was tampered with, or password was incorrect
        at com.sun.crypto.provider.JceKeyStore.engineLoad(JceKeyStore.java:865)

[2017-08-14 02:47] dmogn commented on #18
Fixed.

[2017-08-14 20:51] nynymike opened #29 "IDP breaks deployment"
When I select the SAML IDP for installation, I can't even login to oxTrust. If I don't install the IDP component, oxTrust installs ok.

I get this message:

![image](https://user-images.githubusercontent.com/3717101/29291076-02fb8e38-8108-11e7-9172-46ee8824af99.png)

Logs:

[code]

[2017-08-15 02:40] dmogn commented on #29
#648 - same issue.

[2017-08-15 12:29] dmogn commented on #29
Fixed by Yuriy in oxCore LDAP module.

[2017-08-15 12:29] #29 closed

[2017-08-15 15:44] mzico opened #30 "SAML metadata is not processing properly"
Two situations in 3.1.0 RC2:

 - After uploading metadata, IDP is storing that as `E3CCCC59179506D50002EC5321BD00064AB92AD4-sp-metadata.xml31A7.3F8C` [ Note that '31A7.3F8C' part after .abc-sp-metadata.xml ]. Correct one should be: `E3CCCC59179506D50002EC5321BD00064AB92AD4-sp-metadata.xml`

 - IDP is not cleaning that metadata even after I delete the trust relationship from oxTrust. Screenshot att

[2017-08-21 04:06] #18 closed

[2017-08-21 04:07] dmogn commented on #28
Done

[2017-08-21 04:07] #28 closed

[2017-08-30 14:22] dmogn opened #31 "SAML IDP exception"
During SAML request processing:

[2017-08-31 02:13] dmogn commented on #31
Done.

[2017-08-31 02:13] #31 closed

[2017-08-31 02:17] sahiliamsso opened #32 "Google SSO with Shibboleth is broken"
I am getting following error on browser after getting redirected from admin.google.com

https://host/idp/profile/SAML2/Redirect/SSO?SAMLRequest=xxxxxx&RelayState=https%3A%2F%2Faccounts.google.com%2FCheckCookie%3Fcontinue%3Dhttps%253A%252F%252Fadmin.google.com%252FDashboard%26service%3DCPanel%26hl%3Den%26checkedDomains%3Dyoutube%26checkConnection%3Dyoutube%253A161%253A1%26pstMsg%3D1%26skipvpage%3Dt

[2017-08-31 02:38] dmogn commented on #32
Fixed with: https://github.com/GluuFederation/oxShibboleth/issues/31

[2017-08-31 02:38] #32 closed

[2017-09-04 10:29] yurem opened #33 "Update our Saml authentication code to use IDP 3 flows"
In our IDP3 we uses old IDP2 filters to do Saml authentication.  But IDP3 has flow specially developed for this. There are case when our old integration led to errors. Person in some circumstances not  getting login form because we are not initialization flow properly.

[2017-09-04 10:37] dmogn commented on #33
saml-test-sp, Shib IDP v3.3 in gluu-sever v3.1.0:
2017-09-02 06:10:31,179 - INFO [net.shibboleth.idp.authn.impl.FilterFlowsByForcedAuthn:82] - Profile Action FilterFlowsByForcedAuthn: No potential authentication flows remain after filtering
2017-09-02 06:10:31,182 - INFO [net.shibboleth.idp.authn.impl.SelectAuthenticationFlow:271] - Profile Action SelectAuthenticationFlow: No potential flows left

[2017-09-05 02:38] sahiliamsso commented on #33
Error when trying to SSO with Google
https://IDP_GLUU/idp/Authn/RemoteUser?conversation=e1s1

HTTP ERROR 500

Problem accessing /idp/Authn/RemoteUser. Reason:

    Server Error

Caused by:

java.lang.NoClassDefFoundError: edu/internet2/middleware/shibboleth/idp/util/HttpServletHelper
	at org.gluu.oxauth.client.authentication.AuthenticationFilter.getOAuthRedirectUrl(AuthenticationFilter.java:162)

[2017-09-11 06:57] dmogn commented on #33
Fixed

[2017-09-11 07:02] dmogn commented on #33
![identity_provider_error](https://user-images.githubusercontent.com/14166017/30262127-fa49fcf8-96a5-11e7-8208-07f37389267d.png)

[2017-09-15 13:55] dmogn commented on #10
We need rewrite Shib. IDP RemoteUser flow for ForceAuthn support.

Default "RemoteUser" does not support it.

[2017-09-15 14:10] dmogn commented on #33
https://github.com/GluuFederation/oxShibboleth/issues/10 related issue.

[2017-09-26 16:12] dmogn commented on #33
CONVERSATION_KEY - fixed.

[2017-09-27 15:18] dmogn commented on #33
Alex Samuseu: That error is gone, but it still fails, now resulting in Authn failed SAML response to SP all the time

[2017-09-28 07:49] dmogn commented on #33
AuthnFailed - fixed.
TODO:
1 - username
2 - check attribute releasing

[2017-09-28 12:34] dmogn commented on #33
attribute - OK

[2017-09-28 15:44] dmogn commented on #33
All OK.

[2017-09-28 15:44] #33 closed

[2017-10-09 07:36] yurem commented on #16
I think we can close it. Am I right?

[2017-10-09 09:50] mzico commented on #16
@yurem : Seems like it was for older version basically, 2.4.5. After that we installed couple of customers in 3.0.2; all seems good.

I am inviting @zamilskhan to test this in 3.1.1. For now.. closing this. Zamil, please reopen if required.

[2017-10-09 09:50] #16 closed

[2017-10-11 07:35] rajnikantsh opened #34 "conversation state not found for a key"
I can see following log trace in idp-process.log

ERROR [net.shibboleth.idp.authn.ExternalAuthenticationException:76] - net.shibboleth.idp.authn.ExternalAuthenticationException: No conversation state found in session for key (e1s1)	at net.shibboleth.idp.authn.ExternalAuthentication.startExternalAuthentication(ExternalAuthentication.java:142)

while redirecting user on redirct uri in passport authe

[2017-10-11 10:40] dmogn commented on #34
I've checked  gluu-server-3.1.1_1.7~trusty+Ub14.04_amd64.deb. Shib IDP works well out of the box.
Both flows SP->Shib IDP;   SP->Asimba->Shib IDP->Asimba->SP works.

We need find defference with passport flow.

[2017-10-11 12:23] dmogn commented on #34
Flow:  RP->oxAuth1->Shib IDP -> oxAuth1 ->Shib IDP->oxAsuth1->RP
Browser: google chrome in incognito mode

[2017-10-11 15:45] nynymike commented on #34
This is very unlikely a problem with shibboleth.

[2017-10-11 15:45] #34 closed

[2017-12-06 14:56] dmogn opened #35 "Create authentication flow to replace RemoteUser flow"
Now our oxShibboleth authentication based on servlet filters and empty RemoteUser flow.
This solution has limited capabilities:
- No ForceAuthn support in RemoteUser flow.
- No server-side session support (so logout distribution is impossible).

[2017-12-19 13:03] mzico opened #36 "Federated metadata is not loading in metadata-providers.xml"
Current metadata-providers.xml.vm can't load any federated metadata.
A workaround is removing `generate` method and write new 'metadata-providers.xml.vml` like this:  https://github.com/GluuFederation/support-docs/blob/master/troubleshooting/shibboleth/metadata_not_loading.md

We need to re-write 'generate' method properly as federated metadata can be loaded. It's happening in 3.1.1 as well.

[2018-02-07 11:25] mzico opened #37 "Shib configuration is trying to load 'openldap.crt' in 'gluu-openDJ' setup"
oxShibboleth should detect ldap cert accordingly; in latest 3.1.2 when we install a Gluu Server with 'gluu-OpenDJ'; 'idp-process.log' is throwing below error.
I am not exactly sure how it's looking for 'openldap.crt' specifically but it should look for 'opendj.crt' for OpenDJ based installation.

Here is what idp-process.log saying:

[code]

Version:

1.
[code]

2.
[code]

[2018-02-07 13:23] mzico commented on #36
@dmogn : this has to be fixed asap. I see this issue still in 3.1.2.

[2018-02-09 21:46] nynymike opened #38 "Scope should use domain, not hostname"
![image](https://user-images.githubusercontent.com/3717101/36051619-5ad3b182-0db0-11e8-9dc6-fbd5f0165615.png)

[2018-02-09 21:47] nynymike commented on #38
move to https://github.com/GluuFederation/community-edition-setup/issues/408

[2018-02-09 21:47] #38 closed

[2018-02-14 19:12] yurem commented on #37
Fixed

[2018-02-14 19:12] #37 closed

[2018-02-22 01:08] sahiliamsso opened #39 "Delete custom NameID from the GUI"
Based on the this ticket -  https://support.gluu.org/single-sign-on/5133/how-to-delete-custom-nameid-created-with-gui/ , There is no option  to delete the previously created custom -nameid from attribute-resolver.xml file and LDAP.

[2018-02-24 01:32] zeroluck commented on #39
Hi, I'm the original ticket requestor.

Before any action arises from this issue/feature request, I also wanted to comment that there doesn't appear to be any functionality in this UI module to manage multiple nameIDs. This might be important for many companies who use Gluu as an idP for multiple SaaS providers as SP and need to use multiple custom nameIDs for separation purposes (so modification

[2018-02-24 21:17] nynymike commented on #39
I agree... NameID has to be on a per SP basis.

[2018-02-28 20:45] aliaksander-samuseu commented on #36
Hi, @mzico & @dmogn

Here is how I fixed it in 3.1.1 in my instance. 3.1.2 seems to use exactly the same template, so it should work for it as well. Note it's just my ad-hoc fix and it wasn't thoroughly tested, may be @dmogn will find a better solution, so it's just a suggestion:
[code]
So you need to add one new line, and edit another one.

[2018-03-12 12:54] yurem commented on #39
![image](https://user-images.githubusercontent.com/6104200/37284688-9bff2d74-260d-11e8-908a-ee0015066eb6.png)

Implemented

[2018-03-13 12:48] MohammedFarhan12 commented on #16
After restarting gluu-server i see that /opt/shibboleth/idp/idp-metadata.xml and /opt/shibboleth-idp/sp/shibboleth2.xml files are empty

[2018-03-13 18:28] willow9886 commented on #16
please report issues on https://support.gluu.org

[2018-03-14 22:48] sahiliamsso opened #40 "Error in relying-party.xml when "encryptNameIDs" set to "conditional""
Based on [this ](https://support.gluu.org/single-sign-on/5187/shibboleth-does-not-start-because-of-error-in-relying-partyxml/#at31192) ticket, idp service failed to start when using Configure Relying Party and set "encryptNameIDs" to "conditional".

![image](https://user-images.githubusercontent.com/21104811/37435073-df2ac4c2-2807-11e8-881f-417d0b8e1115.png)

GLUU.root@ubuntu:~# service idp restar

[2018-03-15 13:08] dmogn commented on #36
Done.

[2018-03-15 13:08] #36 closed

[2018-03-20 05:38] dmogn commented on #40
Done.

[2018-03-20 05:38] #40 closed

[2018-03-22 19:20] aliaksander-samuseu commented on #35
Having support for "ForceAuthn" flag surely would help, in IDPv3 used in 3.x packages it now results in failed login flow OOTB if some app uses this flag.

[2018-03-22 19:56] aliaksander-samuseu opened #41 "Some SAML flows will fail when several tabs of the same browser window initiate them in a quick succession/simultaneously"
Environment:

CentOS 7.4, gluu-server-3.1.2-1-4.centos7

Preconditions:

1. A vm with a Gluu Server instance running

2. A vm with two SAML2-able SPs configured to use the Gluu Server for SSO (proper tests have been conducted proving the TRs are functional)

3. A web browser which comes with support of "Reload all tabs" or similar feature OOTB ; both SPs sign urls (the ones which instantly trigger

[2018-03-22 20:29] aliaksander-samuseu commented on #41
@dmogn @yurem

We also would really need a backport of this fix to 2.4.4 version (a customer wants the fix for live setup). Reproduction steps for this package are effectively the same (I used Asimba setup there instead of Passport-SAML, but the other method will work too). Logged messages are different there, though similar in nature, full log is [here](https://github.com/GluuFederation/oxShibbol

[2018-03-28 01:00] sahiliamsso opened #42 "generate ZIP file - attribute-map.xml - released attribute strings are not replaced"
With reference to this ticket https://support.gluu.org/single-sign-on/5260/saml-trust-relationship-generate-zip-file-attribute-mapxml-released-attribute-strings-are-not-replaced/,  Attributes name is not in valid format when you download Shibboleth3 configuration files for the selected TR.

Steps to reproduce: 1. Create a new TR
2. Click "Shibboleth 3 configuration files" ZIP file.
Check attribute

[2018-03-30 01:40] sahiliamsso commented on #39
Ambiguous error message when saving nameid
![image](https://user-images.githubusercontent.com/21104811/38120898-5c259fc8-33e9-11e8-9dc3-accdea6704d9.png)

[2018-03-30 09:00] yurem commented on #39
Can you attach exception from oxtrust.log?

[2018-03-30 13:18] sahiliamsso commented on #39
2018-03-30 01:38:16,148 ERROR [qtp1744347043-343] [org.apache.velocity.runtime.log.CommonsLogLogChute] (CommonsLogLogChute.java:122) - ResourceManager.getResource() parse exception
org.apache.velocity.exception.ParseErrorException: Encountered "<EOF>" at attribute-resolver.xml.vm[line 71, column 30]
Was expecting one of:
    "(" ...
    <RPAREN> ...
    <ESCAPE_DIRECTIVE> ...
    <SET_DIRECTIVE> .

[2018-04-04 11:37] yurem commented on #41
I've changed issue type from "bug" -> "enhancement". I'm not sure that is really Gluu issue. We not changed Shibboleth IDP code. We are using their binaries. During packaging we only add Filters to intercept RemoteUser endpoint calls to allow us redirect to oxAuth for authentication.

Hence before start to work on this issue we need to test if SP + Shibboleth IDP without Gluu. If ther flow the sam

[2018-04-30 10:24] mzico opened #43 "eduPerson schema update"
Community ticket: https://support.gluu.org/feature-request/5404/gluu-using-outdated-eduperson-ldap-schema/

[2018-05-14 09:00] yurem opened #44 "Update Idp to V3.3.3"

[2018-08-10 16:17] willow9886 commented on #15
@aliaksander-samuseu can you assess this and determine the best develop to assign?

[2018-08-14 12:32] yurem commented on #41
@aliaksander-samuseu did you tried SP + Shibboleth IDP without Gluu to reproduce this issue?

[2018-08-21 19:34] yurem commented on #41
@aliaksander-samuseu I've changed milestone to 4.0. Can you try to prepare answer on my previous question? Without it we can't make decision if this is Gluu issue or not

[2018-08-31 19:16] yurem commented on #44
Done. We need to retest IDP in 3.1.4

[2018-08-31 19:16] #44 closed

[2018-09-03 19:09] yurem commented on #43
Added `eduPersonPrincipalNamePrior $ eduPersonUniqueId $ eduPersonOrcid`

[2018-09-03 19:09] #43 closed

[2018-09-11 18:19] yurem commented on #35
We need to replace our integration approach. We are using in IDP3 our IDP2 solution. IDP3 supports extension. There are few of them: https://wiki.shibboleth.net/confluence/display/IDP30/Contributions+and+Extensions#ContributionsandExtensions-IdentityProviderExtensions We can use one of them as example.

[2018-09-17 15:20] kogden opened #45 "Seeing SAMLResponse in Header but SP is not getting Assertion"
So my SP post_assert block is getting this error:
[code]
In my Networking tab I can see the SAMLResponse:
[code]

Why is my SP getting this error? I am able to login and be authenticated, this error is only thrown during the post_assert block.

[code]

Here is my idp process log error. Now, my attribute-filter.xml file is actually completely empty. We've identified this as a problem already but th

[2018-09-17 15:31] nynymike commented on #45
This has nothing to do with the shibboleth plugin. Not even sure if it's a Gluu question, or a shibboleth question. Open on https://support.gluu.org if you think it's a Gluu issue. This github repo is only for work on the Shibboleth login handler.

[2018-09-17 15:31] #45 closed

[2018-09-18 13:20] yurem opened #46 "Implement SSO from SP/IDP/oxAuth"
The entry point of logout flow should be: `https://sp.gluu.org/Shibboleth.sso/Logout`

[2018-10-22 13:40] mzico opened #47 "Metadata validation failing for any sp in 3.1.4 fresh installation"
- Situation: Any SP metadata validation is failing
![localsp_validation](https://user-images.githubusercontent.com/7156097/47295614-ac48c280-d5d5-11e8-837d-719ab83e9089.png)

- This is somehow related to [this](https://github.com/GluuFederation/oxTrust/issues/529) issue?
- How to reproduce:

  - Try to create trust relationship with attached metadata ( it's a Shibboleth SP vanilla metadata ). Plea

[2018-10-22 13:47] mzico opened #48 "Metadata validation failing for any sp in 3.1.4 fresh installation"
- Situation: Any SP metadata validation is failing
![localsp_validation](https://user-images.githubusercontent.com/7156097/47295614-ac48c280-d5d5-11e8-837d-719ab83e9089.png)

- This is somehow related to [this](https://github.com/GluuFederation/oxTrust/issues/529) issue?
- How to reproduce:

  - Try to create trust relationship with attached metadata ( it's a Shibboleth SP vanilla metadata ). Plea

[2018-10-22 14:54] mzico commented on #47
Ok, nice! So I added Google nameserver in resolv.conf and now my SP's validation is working!

[2018-10-22 14:54] #47 closed

[2018-11-06 08:58] yurem commented on #46
This is one of the possible flows:
SP Logout -> https://[hostname]/idp/Authn/oxAuth/logout -> ./oxauth/restv1/end_session?… -> /idp/profile/Logout…

[2018-11-06 09:49] mbaser commented on #46
It will be nice if we have back-channel logout:
https://github.com/GluuFederation/foss-iam-book/blob/master/chapter3/chapter3.md#single-logout-profile-slo

[2018-12-04 16:12] aliaksander-samuseu opened #49 "Restore previous configuration for nameid generation"
According to @yurem , it was decided to remove elements related to SAML1 nameid generation from `/opt/shibboleth-idp/conf/saml-nameid.xml` in 3.1.4. It turned out that by simply removing it from there the whole nameid generation process is sabotaged, inlcuding SAML2 nameids. Apparently, this bean element is referenced from other parts of configuration, which need to be modified in tandem with this

[2018-12-08 20:17] yurem commented on #49
Fixed in https://github.com/GluuFederation/oxShibboleth/commit/ac89669da2f7f23446382caa940ade2f014e1878

@aliaksander-samuseu can you check the fix?

[2018-12-08 20:17] #49 closed

[2018-12-12 19:12] yurem commented on #46
Current Logout entry point is https://%(hostname)s/idp/Authn/oxAuth/logout
/idp/Authn/oxAuth do next:
1) Send requests to oxAuth end_session session endpoint with post_logout_redirect_uri=https://<server>/idp/profile/Logout
2) After getting redirect from oxAuth to https://<server>/idp/profile/Logout IDP do logout

If we need to call at the end SP logout https://sp.gluu.org/Shibboleth.sso/Logout we

[2018-12-12 19:23] mzico commented on #46
@yurem : I have reports from two customers: number_1: Satisfied but want to customize the landing page. number_2: still testing. I think we are good to go with this solution you provided for now.

[2018-12-17 19:19] yurem commented on #35
Starting from 3.1.4 we use own IDP3 Authn flow `Authn/oxAuth`

[2018-12-26 09:38] mzico opened #50 "'SAML2Logout' Relying party configuration availability"
I think it's worthy to add 'SAML2Logout' RP config in v3. A screencast shared on how Logout is behaving in 3.1.4 + Shibboleth SP: https://youtu.be/u7pRM1NtKOg

Shibboleth SAML2Logout Configuration doc: https://wiki.shibboleth.net/confluence/display/IDP30/SAML2LogoutConfiguration

When I am initiating a combined logout ( SP logout url + IdP logout )  from SP, this is what coming in `idp-process.log

[2019-01-03 15:34] yurem commented on #50
This should work in new 3.1.5 build

[2019-01-03 15:34] #50 closed

[2019-01-03 15:34] yurem commented on #50
Fixed

[2019-02-03 19:17] mzico commented on #48
Resolved.

[2019-02-03 19:17] #48 closed

[2019-03-22 09:50] yurem commented on #35
Implement. We added oxAuth flow

[2019-03-22 09:50] #35 closed

[2019-03-22 09:52] yurem commented on #5
We support both IDP/SP initiated logout in recent builds

[2019-03-22 09:52] #5 closed

[2019-03-22 09:53] yurem commented on #30
@mzico I'm closing it. Please reopen i it still actual issue.

[2019-03-22 09:53] #30 closed

[2019-03-22 09:55] yurem commented on #25
@nynymike Do you remember IDP version and how to reproduce it?

During last 2 years we updated IDP few times. Probably this issue is out of date now

[2019-03-22 09:56] yurem commented on #24
@mzico Please retest it in recent version again. Thanks!

[2019-03-22 20:27] yurem commented on #10
Done

[2019-03-22 20:27] #10 closed

[2019-03-23 18:07] yurem commented on #10
For documentation.

Our oxAuth IDP3 plugin do translation Saml ForceAuthn=true to OpenID AuthZ request Prompt.Login
There is more info about each part in Saml and OpenID specs

[2019-03-28 07:38] yurem opened #51 "Add support for folder with cusomized *.vm views"
We need to apply to shibboleth-idp.jar one update.
[code]

Also in setup we should prepare folder with right permissions:
[code]

[2019-04-11 16:14] yurem commented on #25
I can't reproduce it in recent versions.

[2019-04-11 16:14] #25 closed

[2019-04-15 09:56] #24 closed

[2019-04-16 16:21] cybersei opened #52 "Back-channel SAML SOAP Logout"
The current implementation of Shibboleth IDP does not support the back-channel logout functionality. Some specifications require that a logout happen over SOAP instead of front-channel SAML SLO flow.

The Shibboleth IDP is implementing the functionality in their upcoming release and integrating that release would allow Gluu to leverage this feature

https://issues.shibboleth.net/jira/browse/IDP-96

[2019-04-17 15:05] willow9886 commented on #52
Does that mean its a revenue opportunity for us? Are you associated with a Gluu customer?

[2019-04-17 15:07] cybersei commented on #52
Hi William,

This is Pawel, I just used my other account posting this item since it is
GitHub and not support. I am currently at the TBS account.

Cheers,

Pawel

On Wed, Apr 17, 2019, 11:05 William Lowe <notifications@github.com> wrote:

[2019-04-17 15:09] willow9886 commented on #52
Got it! Thanks. Edited you comment above. We will evaluate and proritize.

[2019-04-25 18:22] yurem opened #53 "Enable IDP in CE 4.0 with Couchbase"
IDP in CE uses oxAUth extension to get user profile. Hence LDAP connection is not mandatory.
We need to do research about how to remove LDAP connection configuration or supply dummy LDAP connection for it.

[2019-04-29 06:11] malotian commented on #15
work in progress - support to receive/parse AuthContextClassRef from http request

[2019-05-09 17:41] yurem commented on #51
Implemeneted

[2019-05-09 17:41] #51 closed

[2019-05-13 07:36] yurem opened #54 "Update IDP to 4.0"
We need to prepare patches to simplify upgrade process next time

[2019-05-21 01:17] malotian commented on #15
Implemented and tested successfully

[2019-05-21 01:17] #15 closed

[2019-05-21 04:26] yurem commented on #53
Implemented

[2019-05-21 04:26] #53 closed

[2019-05-22 04:49] yurem opened #56 "oxAuth SAML plugin should support reading configuration from Couchbase"
Stack trace:
[code]

[2019-05-22 04:53] yurem opened #57 "Specify encrypted passwords in ldap/datasource properties files"

[2019-05-22 17:23] yurem commented on #56
Implemented

[2019-05-22 17:23] #56 closed

[2019-05-31 13:04] nynymike opened #58 "Implement Gluu Persistent Noncorreletable Identifier"
Persistent non-correletable identifiers in SAML, or pairwise identifiers in OpeniD, are the same for the subject at a certain RP, but different for each RP.  In the past we used a Shib plugin that stored. These ids can be either algorithmically generated (APID) or stored on disk (PPID).  The latter is better if you need to search the database to figure out which person was issued a certain identif

[2019-05-31 13:05] nynymike opened #59 "Couchbase Support"
The Shibboleth IDP gets attributes from LDAP (ldap.conf).  In Gluu Server 4.0, we are allowing Couchbase as a database backend. If this is the case, Shib will need to get attributes from Couchbase instead.

Note: one theory is that this is not necessary because couchbase has a sql interface, and perhaps that could be used.

[2019-05-31 13:37] yurem commented on #59
It's implemented already. You can install current beta build with either Couchbase or Hybrid persistence layer. In Couchbase mode we uses free JDBC driver. We made it [fork](https://github.com/GluuFederation/gluu-jdbc-cb) and fixed few bugs in it. In 4.1 we added one small update to this fork described in this [issue](https://github.com/GluuFederation/oxTrust/issues/1666).

[2019-05-31 13:37] yurem commented on #59
We need to do QA of it to get feadback

[2019-06-02 22:22] malotian commented on #58
@nynymike need to discuss on this,
persistent nameid - its same for subject (regardless of RP)
transient nameid - different for each SAML Transaction

issue mentioned is interesting - where we wanted something similar to persistent - but scoped to RP
it can be supported, but we would need to create custom generator (that we are capable of)

[2019-06-03 07:15] nynymike commented on #58
Did you see the docs on this page: https://wiki.shibboleth.net/confluence/display/IDP30/PersistentNameIDGenerationConfiguration

[2019-06-10 17:42] malotian commented on #26
I will try this out with shibboleth IDP

[2019-06-22 09:48] yurem opened #60 "Update to latest IDP 3.4.4 and generate patches with our changes"
We need to put our patches with customizations into: https://github.com/GluuFederation/oxShibboleth/tree/master/static/src/main/patches

Also we need to make sure that in final war there is no ja files with different version duplicity.

[2019-06-24 08:33] nynymike opened #61 "Support Front Channel SAML Logout"
Front-channel (e.g. HTTP-Redirect) logout, works in standalone Shibboleth since version 3.2.0

Gluu 3.1.6. is using Shibboleth as an extension - i.e. during login it forwards authentication work to oxAuth. All login endopoints are doing this fine:

[code]

However, it seems that logout endpoints are not yet notifying oxAuth to destroy the user session on Gluu server.

I believe all Shibboleth's lo

[2019-06-24 08:41] durkovic commented on #46
Gluu is using Shibboleth as an extension - i.e. during login it forwards authentication work to oxAuth. All login endopoints are doing this fine:

https://server.name/idp/profile/SAML2/Redirect/SSO
https://server.name/idp/profile/SAML2/POST/SSO
...etc...

However, it seems that logout endpoints are not yet notifying oxAuth to destroy the user session on Gluu server.

I believe all Shibboleth's log

[2019-06-24 08:44] nynymike commented on #46
Also see https://github.com/GluuFederation/oxShibboleth/issues/61

[2019-06-28 08:07] durkovic commented on #46
After further analysis, it seems that everything needed from SAML side is already working - the SP could initiate SLO and it is properly propagated to other SAML SPs if user clicks Yes.

The only problem is, that SAML part of Gluu does not notify oxAuth about user logout, so user logged-in state is not destroyed.

@yurem wrote:

I believe it will be sufficient to modify the above workflow:

1. Log

[2019-06-28 08:30] mzico commented on #46
From my findings, SLO working in 3.1.6 as it should be. I will share a screencast today for your evaluation.

On June 28, 2019 2:07:31 PM GMT+06:00, "Marian Ďurkovič" <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2019-06-28 15:32] durkovic commented on #46
Here is an example flow which doesn't work.
User clicked on logout at SP webpage, which triggers SAML request to standard endpoint
 /idp/profile/SAML2/Redirect/SLO
[code]
In the above flow, there's no call to oxAuth, i.e. the user stays logged in at Gluu server.
You can test at samltest.id

[2019-06-28 19:42] mzico commented on #46
@durkovic :

 - Screencast : https://www.youtube.com/watch?v=xssGsd8Wxfw&feature=youtu.be
- Description:
   - Two SAML SPs. `localsp.gluu.org` and `localsp2.gluu.org`
   - One OpenID connect RP: `localrp.gluu.org`
   - Gluu Server 3.1.6 DE.
   - Initiated SSO from `localsp.gluu.org`: success
   - Initiated SSO from `localsp2.gluu.org`: success
   - Used Gluu Server's Logout link to logout from `lo

[2019-06-28 20:11] durkovic commented on #46
Your screencast shows **IdP-initiated** SLO logout - i.e. when you request SLO on the Gluu IdP server by navigating to that special URL (https://Gluu_Server/idp/Authn/oxAuth/logout), it sends logout requests to all SPs. Yes, that works fine.

However, **SP-initiated** SLO logout is the problematic one. When SAML application provides logout button, it should request SLO by contacting one of the end

[2019-07-07 04:13] malotian commented on #58
@nynymike yes I have implemented same/similar in nameid, will discuss so that we are on same page as far as understanding is concerned, we need to experiment a bit and update documentation, from implementation perspective i guess we are good (will evaluate further)

[2019-07-07 04:15] malotian commented on #59
@sahiliamsso to update on QA

[2019-07-10 06:23] durkovic opened #62 "Missing Content-Type header on ssologout page"
When SAML logout is initiated via web browser by navigating to:

https://gluu.server/idp/Authn/oxAuth/logout

the logout flow proceeds with the following HTTP requests:

GET https://gluu.server/oxauth/restv1/end_session?id_token_hint=.....
GET https://gluu.server/idp/Authn/oxAuth/ssologout?sid=.....

For both GET requests, Gluu server returns 200 OK responses:

For the first one (end_session)

HTT

[2019-07-12 14:24] yurem commented on #60
Done

[2019-07-12 14:24] #60 closed

[2019-07-12 14:25] yurem commented on #59
Done

[2019-07-12 14:25] #59 closed

[2019-07-19 09:48] mzico opened #63 "MDQ support for InCommon metadata consumption in Gluu server"
InCommon has introduced MDQ for their metadata query lately, It will greatly help us to manage server resources.

There are two parts in this development:

 - Backend
 - FrontEnd

When we are done with this issue [ backend part ], we will open a new github issue under oxTrust to allow GUI for Gluu Server administrator so they will be able to manage this from Gluu admin panel.

Here are docs:

 - h

[2019-09-17 06:53] yurem opened #65 "IDP throws exception after CE install"
Here is stack trace:

[code]

[2019-09-17 17:18] malotian commented on #65
osboxes@osboxes:~/Downloads$ wget https://repo.gluu.org/ubuntu/pool/main/bionic-devel/gluu-server_4.0-rc1-88~bionic+Ub18.04_amd64.deb
--2019-09-16 12:56:32--  https://repo.gluu.org/ubuntu/pool/main/bionic-devel/gluu-server_4.0-rc1-88~bionic+Ub18.04_amd64.deb
Resolving repo.gluu.org (repo.gluu.org)... 165.227.82.89
Connecting to repo.gluu.org (repo.gluu.org)|165.227.82.89|:443... connected.
HTTP re

[2019-09-17 17:25] malotian commented on #65
Interesting!!!

[2019-09-17 17:25] malotian commented on #65
even logs are observed

[code]

[2019-09-18 04:19] malotian commented on #65
fixed via https://github.com/GluuFederation/oxShibboleth/commit/325af029f4ed95a6a87f0eaac5fc03e74f385a82

[2019-09-18 04:19] #65 closed

[2020-01-13 19:15] yurem opened #67 "Support Couchbase for cache IDP sessions"
In IDP3 there are few supported [cache ](https://wiki.shibboleth.net/confluence/display/IDP30/StorageConfiguration#StorageConfiguration-MemcachedStorageService) mechanisms.

According to documentation to activate Memcached cache to store sessions we need to do:

1.
[code]
2. Update `/conf/idp.properties` to specify:
idp.session.StorageService = shibboleth.MemcachedStorageService

We can use this c

[2020-01-14 18:52] mbaser commented on #67
In my opinion redis sentinel support will be better.

[2020-01-23 15:58] yurem commented on #67
Implemented

[2020-01-23 15:58] #67 closed

[2020-01-23 15:58] yurem commented on #67
Now we uses GluuStorageService

[2020-03-13 00:43] aliaksander-samuseu opened #68 "Outbound SAML SSO is broken in 4.1"
## Environment:

gluu-server-4.1.0-centos7 (confirmed both for WrenDS  and Couchbase).

## Description:

SSO doesn’t work in 4.1- first time SAML flow works fine (when there is no session at IDP yet); 2nd attempt will fail (after session is created) with 500 internal server error page displayed, regardless if it’s the same SP, or another one. If cookies are flushed and the flow is retried it works

[2020-03-13 13:31] aliaksander-samuseu commented on #68
Complete debug log of the second (failing) SAML flow:
[idp-broken-sso-debug-log.txt](https://github.com/GluuFederation/oxShibboleth/files/4329819/idp-broken-sso-debug-log.txt)

[2020-03-15 11:24] yurem commented on #68
https://github.com/GluuFederation/shib-oxauth-authn3/commit/32e57871e5c7b78860cbcb7d358d48665cab4d26

Fixed value expiration. The value can be null during expiration update.

[2020-03-15 11:24] #68 closed

[2020-03-15 11:24] yurem commented on #68
Fixed in 4.2 and 4.1.1

[2020-03-16 18:22] yurem commented on #68
https://ox.gluu.org/maven/org/gluu/oxshibbolethIdp/4.1.1.Final/oxshibbolethIdp-4.1.1.Final.war

[2020-03-17 16:12] mzico opened #69 "Allow CAS app to participate in Shibboleth SLO"
I tested in 4.1 ( with new 4.1.1 shibb patch ). Seems like SAML SLO is working perfectly but when we are initiating SLO from php app ( phpCAS, in this case ); it's not working.
Seems like CAS ticket ( which is issued by Shibboleth ) is still intact.

I have recorded a screencast which has three machines:

- https://test41saml.gluu.org [ my Gluu Server ]
- https://samlapp.gluu.org [ a shibboleth SP

[2020-03-17 17:27] nynymike commented on #69
This should be assigned to Puja Sharma.

[2020-03-17 17:48] mzico commented on #69
Got it, I sent invitation in SAML github group. After confirmation, we can reassign.

[2020-03-18 10:30] mzico commented on #69
Re-adding log files, zip was bad before.

[SAML_CAS_Logout_work_Mar17_2020.zip](https://github.com/GluuFederation/oxShibboleth/files/4348418/SAML_CAS_Logout_work_Mar17_2020.zip)

[2020-03-22 20:34] mzico opened #70 "Shibboleth server side session storage broken"
Server side session storage not storing user identifier for next SSO session.

**Situation**

- Multiple SAML apps
- First SAML SSO working okay
- If I try to login to another ( next ) SP which is connected with Gluu Server in same browser / tab, Shibboleth throwing error.
- Here is a screencast which has three servers:
  - test41.gluu.org / Gluu Server 4.1
  - samlapp.gluu.org / 1st SP
  - samlap

[2020-03-24 11:02] philzyk commented on #68
In case somebody will be stuck on this update
oxshibbolethIdp-4.1.1.Final.war should be renamed to idp.war in /opt/gluu-server/opt/gluu/jetty/idp/webapps and then restart idp by service idp restart

[2020-04-03 09:55] malotian commented on #70
I tried reproducing it, but for me its working fine by default

![image](https://user-images.githubusercontent.com/8274294/78348108-8025c500-756f-11ea-9da3-99f5d83c3235.png)

https://sp1.gluu.org:8443
https://sp2.gluu.org:9443

And It worked all fine, for 2nd it got authenticated without asking credentials and landed on application

[2020-04-03 10:14] malotian commented on #70
Solution: 1. Download https://ox.gluu.org/maven/org/gluu/oxshibbolethIdp/4.1.1.Final/oxshibbolethIdp-4.1.1.Final.war
2. rename oxshibbolethIdp-4.1.1.Final.war to idp.war
3. copy idp.war to /opt/gluu-server/opt/gluu/jetty/idp/webapps
4. restart idp by service idp restart

[2020-04-03 10:14] #70 closed

[2020-04-03 10:47] malotian commented on #68
https://github.com/GluuFederation/oxShibboleth/issues/70

[2020-04-03 10:48] malotian commented on #70
Duplicate https://github.com/GluuFederation/oxShibboleth/issues/68

[2020-04-10 19:22] nynymike opened #71 "Dynamic SAML Attribute Interception Script"
We don't like to use shib dynamic attribute scripts, because they are hard to maintain. Ideally, this kind of script would be a standard interception script. Is there any way to connect Shibboleth to call an interception script defined in oxTrust?

[2020-04-13 14:59] malotian commented on #71
sample/example to understand enhancement

let say user’s age is stored as number. and we wanted to release like Toddler/Young/Adult/Old etc etc (instead of number)

Idea is to be able to write in python like other scripts (in friendly manner)
where user gets hashmap of attributes in a function call, user can edit map in python and modified will be released by shibb

[2020-04-26 15:19] malotian commented on #40
@dmogn can you let me know the solution

[2020-04-26 18:46] nynymike commented on #40
@dmogn  has not worked at Gluu for some time

[2020-05-06 12:29] malotian commented on #71
research around using shibboleth profile interceptor

[code]

[2020-05-09 02:50] malotian commented on #71
Reseraching on https://wiki.shibboleth.net/confluence/display/IDP30/ProfileInterceptConfiguration

[2020-05-09 06:56] malotian opened #73 "refactor uber.patch to logical units"
[Yure Comments]
Also it’s not very good for support

We used split patches before:

https://github.com/GluuFederation/oxShibboleth/tree/master/static/src/main/patches

And it’s clear what every patch do.

It’s easier to maintain a series of patches so we can turn off a patch without breaking the configuration.

[2020-05-26 18:02] yurem commented on #57
Implemented

[2020-05-26 18:02] #57 closed

[2020-05-27 06:31] yurem commented on #54
There is duplicate: https://github.com/GluuFederation/oxShibboleth/issues/73

[2020-05-27 06:31] #54 closed

[2020-06-09 13:35] sandovalezequiel commented on #71
do we have any updates on this guys? do you need any additional information or something that we can help to move forward this?

[2020-06-11 10:34] yurem commented on #71
I see. These points explains target and also answer on question where to call this script. I'm going to reassign this issue to myself

[2020-06-11 13:11] ggallard commented on #71
Based on our observations, IDP is getting the attributes directly from LDAP/CB, not from the id_token or userinfo endpoint.
https://github.com/GluuFederation/oxTrust/blob/master/configuration/src/main/resources/META-INF/shibboleth3/idp/attribute-resolver.xml.vm
Am I missing something?

If it were getting those attributes from the returning id_token, it would be much easier, since we already have (

[2020-06-12 06:38] malotian commented on #71
@yurem I have alreday reserached about how to update attributes, after authn. Please advise me how I can integrate it with Jython

[2020-06-12 08:56] yurem commented on #71
@ggallard Currently it should works in this way:
SP -> IDP -> IDP (oxAuth plugin) -> oxAuth -> IDP (oxAuth plugin) -> IDP (map id_token claim to IDP user principal)-> SP

It maps claims [here](https://github.com/GluuFederation/shib-oxauth-authn3/blob/master/src/main/java/org/gluu/idp/externalauth/ShibOxAuthAuthServlet.java#L176) using translator.

Here is translator [code](https://github.com/GluuF

[2020-06-12 08:59] yurem commented on #71
These classes have many debug output. You can enable DEBUG log level in IDP for `org.gluu.idp` to see how it works

[2020-06-12 09:01] yurem commented on #71
In any case we will add new script to allow map claims to IDP client credentials externally. It should be called from translator class

[2020-06-13 12:47] malotian commented on #71
@yurem are you saying that we will introduce interception script in translation only ? But I guess shibboleth also make connections to LDAP/User Directories for fetching additional attributes.

And If I understood correctly idea of this issue was to manipulate the attribute name and values, once authentication is done, just before releasing those in assertion.

If above is true, I have already loo

[2020-06-13 15:23] nynymike commented on #71
I think you're on the right track. Can the post-processor call an interception script? What if different SP's need to call different scripts? How would we signal from the SP config in oxTrust?

[2020-06-13 16:34] malotian commented on #71
Good to Know

Yes post processor can call any java code, i have done a P.o.C. to call a java class/function.
now from Java using jython we can route it to python scripts

I guess that can be handled some how by passing context (may be script name) to main script - single entry point configured at shibboleth,

and inside main script, we will receive context (another script name) etc etc... I would

[2020-06-17 07:07] malotian commented on #71
@yurem could please read above, and need your quick guidance to integrate with jython, shibb side is more of ready. needs to be integrated to jython and frontend.

[2020-06-18 10:23] yurem commented on #71
b8f39a085f2af5280871bc539002297cf8e66185

[2020-06-18 13:33] yurem commented on #71
@malotian I'm planning to finish tomorrow custom script update to allow reuse it in IDP.

We can split our work to work on it in parallel.

We can do next:
1. Create Idp custom script manager using xml like this:
[code]
2. Merge your code into `https://github.com/GluuFederation/shib-oxauth-authn3/tree/master/src/main/java/org/gluu/idp`

3. Call from your code `gluuIdpCustomScriptManager.getIdpExte

[2020-06-18 13:35] yurem commented on #71
Here is [sample](https://github.com/GluuFederation/oxAuth/blob/master/Server/src/main/java/org/gluu/oxauth/service/external/context/ConsentGatheringContext.java) of contex object which we use in oxAuth.

[2020-06-18 13:44] yurem commented on #71
Here is [sample](https://github.com/GluuFederation/community-edition-setup/blob/master/static/extension/idp/SampleScript.py) idp script.

`IdpExternalScriptService.executeExternalUpdateAttributesMethod` should call this script `updateAttributes` method with context object.

[2020-06-19 17:15] yurem commented on #71
@malotian I've finish work on standalone custom script manager. Here is [sample ](https://github.com/GluuFederation/oxCore/blob/master/core-script/src/test/java/org/gluu/service/custom/script/test/StandaloneCustomScriptManagerTest.java) how to use it.

[2020-06-19 17:58] yurem commented on #71
`IdpCustomScriptManager` is ready too. Her is [code](https://github.com/GluuFederation/shib-oxauth-authn3/blob/master/src/main/java/org/gluu/idp/script/service/IdpCustomScriptManager.java).

Can you call it as specified in this [message](https://github.com/GluuFederation/oxShibboleth/issues/71#issuecomment-646019846)?

[2020-06-23 13:17] yurem commented on #71
https://github.com/GluuFederation/oxShibboleth/commit/b2e97b2f5279994bb273cf2fc58dca1cc7c9d5cf

[2020-06-23 17:41] yurem commented on #71
I've finish work on updates. All components works well. There is only one issue. IDP not call our bean. @malotian I've added call from place which you mentioned. It's path [61](https://github.com/GluuFederation/oxShibboleth/blob/master/static/src/main/patches/61.release-attributes-post-processor.patch). Additionally I've added path [62](https://github.com/GluuFederation/oxShibboleth/blob/master/st

[2020-06-25 05:30] malotian commented on #71
Great yuriy, I will look at this soon. should be working soon

[2020-06-25 05:53] yurem commented on #71
@malotian yes, sure. Take your time

[2020-06-29 20:01] yurem opened #74 "Review attribute translater integration"
IDP ignores all attributes which we put into [principal](https://github.com/GluuFederation/shib-oxauth-authn3/blob/master/src/main/java/org/gluu/idp/externalauth/AuthenticatedNameTranslator.java#L58) except `UsernamePrincipal`.

In 4.2 we added to IDP [script](https://github.com/GluuFederation/community-edition-setup/blob/master/static/extension/idp/SampleScript.py#L58.) same code to allow to cust

[2020-07-08 09:35] MohitMaliFtechiz opened #76 "Issue on SAML assertion generation attributes like mail,sn,givenname etc is released twice ."
## Describe the issue
Issue on SAML assertion generation  attributes like mail,sn,givenname etc  is released twice .
## Steps To Reproduce
Steps to reproduce the behavior:
1. loging to gluu-server.
2. go to SAML
3. Create new Trust Relationship using desire samltestprovider(my case sptest.iamshowcase)
4.  Test saml and check SAML Assertion .

## Expected behavior
Assestion must have each attribute

[2020-07-14 16:00] yurem commented on #26
oxTrust can store files in central document store like Jackrabbit now: https://github.com/GluuFederation/oxTrust/issues/1939
We need to add to IDP job to pull configs and metadata files from this store periodically.

[2020-08-19 19:17] malotian commented on #71
@yurem  please get “jython-ntegration” branch for oxShibboleth & shib-oxauth-authn3, and
then add  `p:postAuthenticationFlows="#{{'attribute-release', 'malotian-release-attributes-post-processor'}}" ` to `SAML.SSO` bean inside `relying-party.xml`

e.g.

`<bean parent="SAML2.SSO" p:postAuthenticationFlows="#{{'attribute-release', 'malotian-release-attributes-post-processor'}}" />`

this update to `

[2020-08-26 05:18] malotian commented on #73
@yurem I can break it into individual patches, But its difficult to maintain with every upgrade.
here the way I do, I Install current Gluu IDP then I install vanilla IDP (shibb), then doing diff at root level and create a patch.

with individual patches, this process becomes too much cumbersome (and error prone) as we may minor upgrades - headers/comments. because some files are changes in whitesp

[2020-08-28 18:51] yurem commented on #71
I've build idp.war from `jython-integration` an applied this update:
[code]

But it still not call script method

[2020-08-28 18:52] yurem commented on #71
Maybe something else is needed?

[2020-08-28 18:53] yurem commented on #71
Can you merge your changes to branches version_4.2.1 to allow simply install idp.war without manual changes?

[2020-08-28 21:05] mzico opened #75 "Issue with NameID generation in 4.2.1 / multiple source attribute of nameID"
**Target**

This test sp require `urn:oasis:names:tc:SAML:1.1:nameid-format:emailAddress` format nameID to be generated and sent back to SP from Gluu Server.

**Situation in 4.2.1**

I am trying to configure nameID with [oxTrust](https://www.gluu.org/docs/gluu-server/4.2/admin-guide/saml/#configure-nameid-in-oxtrust), setup looks like below:
![nameID](https://user-images.githubusercontent.com/7156

[2020-08-31 03:11] malotian commented on #75
duplicate of https://github.com/GluuFederation/oxAuth/issues/1411

[2020-09-04 18:45] yurem commented on #71
https://github.com/GluuFederation/community-edition-setup/blob/version_4.2.1/static/extension/idp/SampleScript.py#L99

[2020-09-04 18:46] yurem commented on #71
![image](https://user-images.githubusercontent.com/6104200/92275611-0e73ed80-eef8-11ea-8cd1-929256af0637.png)

[2020-09-04 18:46] #71 closed

[2020-09-23 13:25] malotian commented on #76
fixed https://github.com/GluuFederation/oxTrust/commit/6ace4554e707423968ea3bcf4093db3ce9b6c101
https://github.com/GluuFederation/oxShibboleth/commit/8dea59665ad797c279aea0b589b00f6a5a0fbd0e

[2020-09-23 13:25] #76 closed

[2020-09-23 13:26] #75 closed

[2020-09-24 11:04] yurem opened #78 "Add new endpoint /idp/health-check to allow cluster check IDP it status"
All our apps have `/context/restv1/health-check`. We need to add similar endpoint to IDP. If IDP don't use Rest libs we can add servlet for this.

Here is [link](https://github.com/GluuFederation/oxAuth/blob/version_4.2.1/Server/src/main/java/org/gluu/oxauth/ws/rs/controller/HealthCheckController.java) to oxAuth service for details.

[2020-12-11 13:55] yurem commented on #78
Implemented
@moabu we can use `./idp/health-check`

[2020-12-11 13:55] #78 closed

[2021-02-11 14:32] sobhanpanda commented on #62
1. Login to oxTrust UI as admin
2. Navigate to OpenID Connect > Clients
3. Select the Client IDP client
4. Copy the Preset Front Channel Logout URI (https://gluu.server.url/idp/Authn/oxAuth/ssologout)
5. Remove the value > Update
6. Again set the value which copied > Update

Now check. This worked for me.

[2021-06-30 16:23] nynymike opened #82 "Use FIPS compliant keystore for signatures"
This acticle provides an overview of the issue: https://docs.oracle.com/en/middleware/fusion-middleware/weblogic-server/12.2.1.4/secmg/fips.html#GUID-A9A51C8D-EB78-4BCC-B865-576580FCB8F1

The default JKS keystore with CA certificates, cacerts, included with the JDK is not FIPS compliant in WebLogic Server 12.2.1.3 and earlier. FIPS 140-2 requires a PKCS12 PBES2 keystore; JKS keystores and PKCS12 k

[2021-07-09 13:32] nynymike opened #83 "During AuthnRequest, send all form data to OpenID authorize endpoint"
Right now, the Shibboleth IDP only sends the SAML AuthnRequest and RelayState to the authorize endpoint. There may be other useful information in the form. Perhaps the other form data could be sent also?

[2021-07-13 10:09] MohitMaliFtechiz opened #84 "Idp throws 500 error on single sign on with couchbase backend on 4.3.0"
### Describe the issue

Idp throws 500 error on single sign on

### How to reproduce

1. go to admin console
2. go to saml ->  add new trust relationship
3. test trust relationship with samltest.id or any sp

### Expected behaviour

Sso needs to be completed

### Actual behaviour

Gets 500 error on sign on

### System
Gluu-version:-4.3.0 + couchbase
OS :- Ubuntu20.04

### error on log

[code]

[2021-07-27 14:34] nynymike opened #86 "Set Default ACR for new Trust Relationships"
It would be nice if there was a way for a Gluu admin to be able to set a default ACR for new SAML TR's.

[2021-08-12 14:56] mzico opened #88 "Shibb customization not working"
Customization for Shibb error page or any Shibb related pages should reflect from directory structure:

[code]

But it's not reflecting properly. As for example, I am trying to change logo of below page but this is not happening...

![Screenshot at 2021-08-12 09-55-20](https://user-images.githubusercontent.com/7156097/129219349-8ceca10e-332c-4298-aecf-b0507fe73643.png)

[2021-08-15 18:15] aveekbu commented on #88
IMHO, changing the logo location to "/opt/gluu/jetty/idp/servlet/logo" should fix the issue.

[2021-08-17 21:21] mookkiah commented on #88
When fixing this issue, it is good idea to customize the entire page not jus the logo.

[2021-08-19 12:18] uprightech opened #91 "Add RDBMS and Google Spanner support"
Currently oxShibboleth doesn't work with RDBMS and Google Spanner databases. This needs to be fixed

[2021-09-02 15:56] uprightech opened #92 "Configuration migration to Shibboleth IDP 4.1.4"
As of the creation of this issue , the current Shibboleth IDP version being used is 4.0.1 , which is also EOL.
The current stable version of Shibboleth IDP is 4.1.4 .
In Shibboleth IDP 4.1.4 , major architectural changes were made , affecting the configuration structure too.
A repercussion is that the `static` module has stopped working as patching the configuration no more works too.
The solution

[2021-09-02 16:25] uprightech opened #93 "Code migration to Shibboleth IDP 4.1.4"
As of the creation of this issue , the current Shibboleth IDP version being used is 4.0.1 , which is also EOL.
The current stable version of Shibboleth IDP is 4.1.4 .
In Shibboleth IDP 4.1.4 , major architectural changes were made, which affected how code is now added to
Shibboleth IDP. Plugins/ modules were introduced , making for a cleaner installation process.
The objectives in this issue are:

[2021-09-02 18:22] mzico commented on #93
@uprightech : great initiative!

[2021-09-10 13:23] aliaksander-samuseu opened #94 "Ensure separation of handling of different SAML ACRs when IDP decides whether or not to use SSO for a particular request"
Currently, if an authenticated session is created at IDP after serving a SAML request containing a particular ACR (or no ACR at all), it will be re-used to serve any subsequent requests even when they reference different (and more secure) ACRs (SSO). Specifically, if a more secure ACR is requested (like, for MFA auth), no re-authentication will happen, yet in SAML response the requested ACR will s

[2021-09-10 14:19] nynymike commented on #94
We'll have to consider whether or not to undertake this, and see what other implementations do. This is not consistent with how we handle the situation in OpenID Connect, where we do require the RP to use `prompt=login`, i.e. the equivalent of `forceAuthn=true`.

[2021-09-10 14:46] yurem commented on #94
https://github.com/GluuFederation/oxTrust/commit/0ada0c1166b5e7a458a12b182e51efd3642182cc

[2021-09-10 16:43] yurem commented on #94
https://github.com/GluuFederation/shib-oxauth-authn3/commit/dd7f8405f5fdd751944be7faabf88e39e841ba1b
https://github.com/GluuFederation/shib-oxauth-authn3/commit/b2e55a74256ebed3bf19d5b5f972259a3a1b7cb8
https://github.com/GluuFederation/shib-oxauth-authn3/commit/c83b005f1041a768f8b80487997f6ac676fb71c6

[2021-09-10 16:58] aliaksander-samuseu commented on #94
@nynymike

At oxAuth we also have script's Levels feature, which will allow a more secure method with a higher Level - when it's requested via `&acr_values=` parameter - to "beat" session associated with an auth method of a lesser Level,  as if "prompt=login" was used. The customer asked for this behaviour to be consistent across both SAML and OIDC "realms" - as they have both SAML and OIDC SPs/RP

[2021-09-10 17:58] yurem commented on #94
https://github.com/GluuFederation/shib-oxauth-authn3/commit/f7cef400dbd6e3e7acff0fe1251fb9b950466bb9

[2021-09-21 10:36] uprightech commented on #92
Implemented in 4.3.0

[2021-09-21 10:36] #92 closed

[2021-09-21 10:37] #93 closed

[2021-11-15 11:46] MohitMaliFtechiz opened #110 "Saml sso is not working (getting 500 error) in 4.3.1 ."
### Describe the issue

Saml sso is not working (getting 500 error).

### How to reproduce

1. Go to admin ui
2. Go to saml
3. Go to Add trust relationship.
4. Add a trust relationship
5. test the trust relationship

### Expected behaviour

sso needs to be successfull

###  Actual behaviour

getting 500 error

###  Config
Gluu-server 4.3.1

OS ubunut20.04

### logs
[gluutest_idp-process.log](https

[2021-11-15 16:14] mzico commented on #110
Same issue... this is the log named `2021_11_15.jetty.log` from `/opt/gluu/jetty/idp/`
Error appearing: SP-initiated SSO --> Gluu Server ( no oxAuth login page but landing into this 500 ).

![Screenshot at 2021-11-15 10-13-17](https://user-images.githubusercontent.com/7156097/141815849-e9d3b475-a019-4d6d-955f-c98368624fba.png)

[code]

[2021-11-16 05:25] uprightech commented on #110
@MohitMaliFtechiz I have just rebuilt the binary with a fix. Can you test and close this issue if satisfied ?

[2021-11-16 10:31] MohitMaliFtechiz commented on #110
hi @uprightech can you share the url of latest build ?

[2021-11-16 10:41] uprightech commented on #110
https://jenkins.gluu.org/maven/org/gluu/oxshibbolethIdp/4.3.1-SNAPSHOT/oxshibbolethIdp-4.3.1-SNAPSHOT.war

[2021-11-16 11:55] MohitMaliFtechiz commented on #110
@uprightech  i replaced the idp.war  but gettting the same result

[2021-12-01 18:35] uprightech commented on #110
@MohitMaliFtechiz  I think the issue is solved. Feel free to re-open it if you encounter the issue once more.

[2021-12-02 11:05] MohitMaliFtechiz commented on #110
@uprightech  i tested the latest idp war  for the issue and sso is working fine however i am facing oxauth error when i use Default Authn Method to password or passwordprotectedtrasport.

### check the oxauth log

[code]

[2021-12-02 22:22] uprightech commented on #110
Hello @MohitMaliFtechiz ,

By default , no custom script is mapped to that . What you need to do is this.
Go to oxTrust in `Person Authentication Scripts` , enable the script you will like to associate with the `urn:oasis:names:tc:SAML:2.0:ac:classes:PasswordProtectedTransport` and then select the SAML ACRs you will like to
use with it. That's in the section `Select SAML ACRS:` . That should do th

[2021-12-07 14:48] uprightech commented on #84
I reproduced the issue.
The missing item in the issue description is the mention that this is a local Couchbase installation.
This isn't a bug per se.
When Gluu is installed with a local couchbase installation , you have to explicitly create the couchbase user,
You can find instructions for that once the installation is done. (Will update the documentation to make it explicit).
![Screenshot from 2

[2021-12-08 10:31] MohitMaliFtechiz commented on #110
@uprightech  this issue is tested and has been fixed we can close this issue

[2021-12-08 10:31] #110 closed

[2021-12-08 10:32] MohitMaliFtechiz commented on #84
@uprightech ok i have implemented the fix as you said saml sso working fine we can close this issue .

[2021-12-08 10:32] #84 closed

[2021-12-27 07:20] #94 closed

[2021-12-27 08:04] #83 closed

[2021-12-27 08:10] #74 closed

[2021-12-27 08:21] uprightech commented on #73
Implemented

[2021-12-27 08:21] #73 closed

[2021-12-27 19:44] uprightech commented on #69
Just adding a note to self as I'll circle back to this.

This is probably not working because the `relying-party.xml.template`  RP Configuration doesn't contain profile configuration for the CAS protocol. This should be added to allow CAS applications to Participate to Shibboleth SLO

[2021-12-31 08:34] MohitMaliFtechiz opened #115 "Bad request on idp sso(4.3.1+MYSQL)."
### Describe the issue

Bad request on idp sso(4.3.1+MYSQL).

### How to reproduce

1. Go to admin ui
2. Go to SAML
3. Create a new trust relationship
4. try to test the sso

### Expected Behaviour

sso result Bad request

### Actual Behaviour

sso needs to be work fine

### Config

Gluu 4.3.1 +mysql

OS Ubuntu 20.04

### Log

2021-12-30 05:27:29,815 - 103.225.204.230 - INFO [org.opensaml.saml.com

[2022-01-05 10:40] mbaser opened #116 "Issues with MySQL"
When idp is installed with MySQL backend, we have many errors in log files. Please see log files.
[idp-logs.zip](https://github.com/GluuFederation/oxShibboleth/files/7814245/idp-logs.zip)

[2022-01-05 11:56] uprightech commented on #116
Hello @mbaser

@yurem submitted a [commit](https://github.com/GluuFederation/community-edition-setup/commit/36b554c310333e1e16a79f89325857e783b3785d) containing data to append to `global.xml` as is done in the case for couchbase (check out the `saml_couchbase_settings()` method in the `setup_app/installers/saml.py` file in the installer.

[2022-01-06 09:13] mbaser commented on #116
Issues with MySQL was resolved with latest package and setup.py

[2022-01-06 09:13] #116 closed

[2022-02-14 09:07] uprightech commented on #115
Fixed in 4.3.1

[2022-02-14 09:07] #115 closed

[2022-02-16 01:45] uprightech commented on #91
Implemented in 4.3.1

[2022-02-16 01:45] #91 closed

[2022-02-16 01:46] #88 closed

[2022-02-23 08:03] uprightech commented on #41
Hello @aliaksander-samuseu , with the new flow , the issue seems not to be replicable.
Could you re-run the tests on your end so we can close this once and for all ?

[2022-04-02 01:17] uprightech opened #122 "Improve overall build process for oxShibboleth"
Currently, how dependencies from various gluu projects are specified during the build of oxShibboleth creates duplicate library version conflicts , runtime errors which are difficult to track and forces us to maintain and update a list of libraries to exclude.
This could be improved by including  `gluu-core-com` as a dependency so the right versions are pulled.

It would also be nice if the build

[2022-04-13 12:20] yurem opened #129 "Update resteasy libraries to latest 4.5.x version"
Current resteasy-core (and other resteasy libs) version which we put inside idp.war is 4.5.7.Final. It has high vulnerabilities. We need to put into into it latest libraries with version 4.5.12.Final.

[2022-04-13 12:23] yurem opened #130 "Update log4j-over-slf4j to 1.7.36"
Current log4j-over-slf4j  version in idp.war has critical vulnerabilities.

[2022-04-15 13:23] uprightech commented on #130
Fixed

[2022-04-15 13:23] #130 closed

[2022-04-15 13:23] uprightech commented on #129
Fixed

[2022-04-15 13:23] #129 closed

[2022-04-22 07:45] yurem opened #135 "feat: update to use idp 4.2.1"

[2022-04-22 09:24] uprightech commented on #135
Implemented in commit 38b9e1c0e842a12165c64696e5150800c6da437a

[2022-04-22 09:24] #135 closed

[2022-09-29 13:12] uprightech opened #154 "Upgrade Shibboleth IDP version"
## Synopsis

This ticket will be used to track each upgrade to a new version of Shibboleth IDP for oxShibboleth.

##  Upgrade Procedure

The upgrade procedure will
 1.  Check the [Shibboleth v4 IDP Pages] (https://shibboleth.atlassian.net/wiki/spaces/IDP4/overview) or
     the `shibboleth-announce` mailing list for new releases.
 2.  If a new release is found , create a new comment under this issu

[2022-10-13 07:45] MohitMaliFtechiz opened #155 "No attributes released in saml sso."
### Describe the issue

no  attributes released in saml response.

### How to reproduce

1. go to admin console
2. go to saml ->  add new trust relationship
3. test trust relationship with samltest.id or any sp

### Expected behaviour

user must get attributes with values when sign in on sp

### Actual behaviour

user is able authenticate but no attribute released.

### System
Gluu-version:-4.5 +

[2022-10-19 04:45] mzico opened #156 "Virtual mapping SAML attribute"
The purpose of this task to release some virtual data to SP without really mapping it inside Gluu Server.
As for example:

 - mail == support@gluu.org --> this is a real attribute with real data mapped inside Gluu Server.

 Now we want to send "support@gluu.org" value to one SP which can't recognize "mail" but they have "EmailAddressSP" as attribute name.

 Previously we had to map twice:

 - mail

[2022-10-19 04:46] mzico commented on #156
@uprightech supplied a IDP script which can do such thing. I am testing at this moment.

[2022-11-14 07:36] uprightech opened #158 "Unable to get extra parameters passed to Shibboleth IDP during SSO"
It has been reported that the feature/enhancement provided by Gluu SAML IDP , allowing customers to get extra parameters
passed to Gluu SAML IDP during SSO seems not to be functional. The functionality is documented [here](https://support.gluu.org/single-sign-on/10930/not-possible-to-get-addition-request-parameters-in-saml-sso-sp-initiated-flow/)

Investigate the bug report and provide a fix if ne